@model SpeedTestApp.UI.ViewModels.MeasuresViewModel
@{
    Layout = "~/Views/_BasicLayout.cshtml";    
    AjaxOptions options = new AjaxOptions()
    {
        HttpMethod = "get",
        UpdateTargetId = "result"
    };
}
   
    @using (Ajax.BeginForm("Measure", "Home", options))
    {
        <div class="col-xs-6">
            <div class="input-group">
                <input type="text" name="filter" class="form-control" placeholder="URL" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Check</button>
                </span>
            </div>
        </div>
    }

    <div id="result" class="col-xs-8">
        @if (Model != null)
        {
            @Html.Partial("_PartialResult", Model)
        }        
    </div>

